/****button***/
//default button styles
.page-button {
	padding: 10px;
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	background-color: @gray-light;

	&:hover, &:focus {
		background-color: @gray-dark;
		transition: 300ms ease-in-out;
	}
}

//button dark version
.page-button-dark {
	padding: 10px;
	margin: 10px 5px;
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	background-color: @gray-dark;

	&:hover, &:focus {
		color: @gray-dark;
		background-color: @brand-primary;
		transition: 300ms ease-in-out;
	}
}


//page-4 sort buttons
#page-4 .page-button {
 	margin: 10px 5px;
}

//page 5 submit button

