/***Defaults***/

//title container
.title-container {
  padding: 50px 0;
}


/***Splash Page***/
//splash menu box layout inherits from default box
.splash-menu {
  .default-box();
  text-align: center;
}


/***Splash Page***/

/***Parallax 1 Page***/
.carousel {
  padding: 90px 0;
}
