/****Default modules****/

//Parapgraph container defaults
.content-paragraph {
  margin: 0 0 30px;
  padding: 0 30px;
}

//Title bottom border
.seperator-container {
  height: 5px;
  margin: 20px 0;
}
.seperator {
  position: absolute;
  left: 50%;
  border-top: 6px solid #666;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 50px;
  margin-left: -20px;
}

//Menu paragraph content spacing
.content-paragraph p,{
  margin: 0 0 20px 0;
}

//Carousel spacing
.carousel {
  padding: 90px 0;
}

//Para-1 Para-2 Para-3 page background color
#para-page-1, #para-page-2, #para-page-3{
  .set-background-color(@brand-primary);
}






/***Parallax 1 Page***/

//quotes block
//quotes icon block
.quotes-icon {
  .set-container(75px, 75px);
  color:#eee;
  .center-block();
  border-radius: 50%
}

//carousel paragraph
.para-item p {
  color: @body-bg;
}

/****Parallax-2-page***/

//left content
.content-left span {
  .set-container(250px, 250px);
  .center-block();
  text-align: center;
}

/**** Aside page ***/
#aside-page-1, #aside-page-2, #aside-page-3 {
  .set-background-color(#ffff95);
}

.aside-container {
  padding: 70px 10px;
  text-align: center;

  .aside-title {
    font-size: @font-size-large;
    padding: 10px 0 0;
  }

}

.icon-container {
  .quotes-icon;

  i {
    font-size: @font-size-large;
    padding: 28px;
  }
}

/**** Page-3 ****/
.page-icon-container {
  .set-container(35px, 35px);
  padding: 15px;
  display: inline;
}

.page3-title {
  display: inline;
  font-size: @font-size-large;
  padding: 0 0 0 30px;
}

.page3-content {
  padding: 30px 0;
}

/*****Aside-2****/
.aside-paragraph {
  padding: 70px 0;
}
.aside-paragraph p {
  margin: 0 0 20px;
}

/**** Page-4 ****/
//to center container
#sort-button-container {
  text-align: center;
}

//page-4-box content
.content-button-container {
  text-align: center;
}
.page-4-content-box {
  .set-container(250px, 250px);
  background-color: @brand-primary;
  border-radius: 0;
  margin: 10px;
  display: inline-block;


  span {
    .set-container(35px, 35px);
    .absolute-pos();

    i {
      margin: 10px;

      &:hover {
//        color: ;
      }
    }
  }


  h5, p {
    text-align: left;
    padding: 3px 15px;
  }


  //sets inline contianer on hover
  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0.25);
    transition: 300ms ease-in-out;
  }
}


/***** aside-page-3 *****/
.aside-3-box {
  .set-container(150px, 150px);
  padding: 0 0 20px;
  margin: 10px 0;
  display: inline-block;
}

/***** page-5 *****/
//page-5 side buttons
#page-5 li {
  padding: 20px;
}

.form-control {
  color: @brand-primary;
  background-color: @gray-dark;
  border: 1px solid @brand-primary;
  border-radius: @input-border-radius;
  .box-shadow(inset 0 1px 1px rgba(255, 251, 96, 0.07));

  //to get rid of blue out ring on focus
  .form-control-focus(@brand-primary);

  //get rid of default placeholder color
  .placeholder(@brand-primary);
}


/***** footer ****/
#footer {
  .set-background-color(@gray-light);
}

//footer logo
#footer-logo{
  .set-container(70px, 130px);
  background-color: @brand-primary;
  margin: 0 auto;
}

//footer reset
.footer-nav ul {
  padding: 20px 0;
  text-align: center;
}