/****Default modules****/

//Parapgraph container defaults
.content-paragraph {
  margin: 0 0 30px;
  padding: 0 30px;
}

//Title bottom border
.seperator-container {
  height: 5px;
  margin: 20px 0;
}
.seperator {
  position: absolute;
  left: 50%;
  border-top: 6px solid #666;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 50px;
  margin-left: -20px;
}

//Menu paragraph content spacing
.content-paragraph p,{
  margin: 0 0 20px 0;
}

//Carousel spacing
.carousel {
  padding: 90px 0;
}

//Para-1 Para-2 Para-3 page background color
#para-page-1, #para-page-2, #para-page-3{
  .set-background-color(@brand-primary);
}


/****button***/
.page-button {
  padding: 10px;
}





/***Parallax 1 Page***/

//quotes block
//quotes icon block
.quotes-icon {
  .set-container(75px, 75px);
  color:#eee;
  .center-block();
  border-radius: 50%
}

//carousel paragraph
.para-item p {
  color: @body-bg;
}

/****Parallax-2-page***/

//left content
.content-left span {
  .set-container(250px, 250px);
  .center-block();
  text-align: center;
}

/**** Aside page ***/
#aside-page-1, #aside-page-2 {
  .set-background-color(#ffff95);
}

.aside-container {
  padding: 70px 10px;
  text-align: center;

  .aside-title {
    font-size: @font-size-large;
    padding: 10px 0 0;
  }

}

.icon-container {
  .quotes-icon;

  i {
    font-size: @font-size-large;
    padding: 25px;
  }
}

/**** Page-3 ****/
.page-icon-container {
  .set-container(35px, 35px);
  padding: 15px;
  display: inline;
}

.page3-title {
  display: inline;
  font-size: @font-size-large;
  padding: 0 0 0 30px;
}

.page3-content {
  padding: 30px 0;
}

/*****Aside-2****/
.aside-paragraph {
  padding: 70px 0;
}
.aside-paragraph p {
  margin: 0 0 20px;
}
