//menu-sub-title
.sub-title {
	margin: 0 0 30px 0;
}

//menu bottom border
.border-top-container {
	height: 5px;
	margin: 20px 0;
}
.title-border{
	position: absolute;
	left: 50%;
	border-top: 6px solid #666;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	width: 50px;
	margin-left: -20px;

}

//Menu paragraph content spacing
.content-paragraph p{
	margin: 0 0 20px 0;
}

